*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.banner-section{
    background-image: url('../images/vuexy-login-bg.jpg');
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.content-section {
    padding: 45px 20px;
    font-family: 'Montserrat', sans-serif;
}
.content-section {
    padding: 45px 0;
}
.content-section p {
    margin-bottom: 15px;
    line-height: 23px;
}
.content-section ul {
    padding-left: 40px;
    margin: 15px 0;
}
.content-section ul li {
    margin-bottom: 10px;
}
.content-section table {
    border: 1px solid #000;
    margin-bottom: 25px;
}
.content-section table tr th {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 12px;
}
.content-section table tr td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 6px 22px 22px;
}
/*************** Responsive CSS *******************/

.main-section {
    overflow: hidden;
}

@media only screen and (max-width: 768px) { 
	.container {
    width: auto;
}
.content-section table {
    table-layout: fixed;
    min-width: 770px;
    width: 100%;
    border-collapse: collapse;
}
	.table-content-main {
    overflow: auto;
}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	.container {
    width: auto;
}
}

