/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
/*NOTE: 'preflight' IS RENAMED TO 'base'*/
/*@tailwind base;*/

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
 @tailwind components;

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 .text-primary 
 {
   color: #CADC4F !important;
 }
.vs-button-primary.vs-button-filled {
    background: #CADC4F !important;
    color: #080717 !important;
    font-weight: bold;
  }
  
  .vs-button-primary.vs-button-border {
    border: 1px solid #CADC4F;
    background: transparent !important;
    color: #080717 !important;
  }
  
  h4.mb-4 {
    font-weight: bold;
  }
  a:active, a:visited, a:hover, a
  {
    color: #45435D !important;
  }
  .vs-checkbox-primary input:checked+.vs-checkbox{
        border: 2px solid #CADC4F !important; 
        background:#CADC4F !important;
  }
  .vs-input-primary .vs-input--input:focus
  {
    border: 1px solid #CADC4F !important;
     
  }
  .vs-input-primary .vs-input--input:focus~.icon-inputx
  {
    color:#CADC4F !important;
  }
.bg-primary-gradient
  {
    background: #fff !important;
  }
  [dir=ltr] .v-nav-menu .vs-sidebar--item .router-link-active
  {
    background:#CADC4F !important;

  }
  [dir] .v-nav-menu .vs-sidebar--item .router-link-active
  {
    box-shadow: 0px 0px 0px 0px rgba(var(--vs-dark), 0.7)!important;
  }
  .v-nav-menu .vs-sidebar--item .router-link-active .feather-icon
  {
    color: #000000 !important;
  }
  .v-nav-menu .vs-sidebar--item .router-link-active span
  {
    color: #000000 !important;
    font-weight: 500 !important;
  }

  [dir=ltr] .v-nav-menu .header-sidebar
  {
    padding: 20px 19px 16px 40px !important; 
  }
  
 li.cursor-pointer:hover
 {
    background: #CADC4F !important;
    color: #000000 !important;
 }
 .h1-checkpoint
 {
    word-spacing: -0.2ch;
    font-family: inherit;
    font-size: 35px;
}
.vs-tabs-primary .con-ul-tabs .line-vs-tabs
{
    background: linear-gradient(30deg, #CADC4F ,#dde7a6)!important;
    box-shadow: 0 0 8px 0 #CADC4F !important;
}   
[dir] .p-6
{
    padding: 0.5rem !important;
}
.vx-card.text-center.greet-user
{
    padding-left: 1.4rem !important;
    padding-top:0.4rem !important;
}
.vx-col.w-full.sm\:w-1\/2.md\:w-1\/2.lg\:w-1\/4.xl\:w-1\/4.mb-base
{
    margin-top: 10px !important;
}
[dir] .ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), [dir] .ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, [dir] .ag-theme-material .ag-ltr .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle, [dir] .ag-theme-material .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), [dir] .ag-theme-material .ag-rtl .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, [dir] .ag-theme-material .ag-rtl .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle
{
  border:1px solid #CADC4F !important;
}
 

.ag-theme-material .ag-header
{
  color: rgb(0, 0, 0) !important;
}
.v-select .vs__selected
{
  color: rgb(0, 0, 0) !important;

}
.ag-header.ag-pivot-off {
  height: 50px !important;
  min-height: 0px !important;
}
.ag-grid-table {
      /* height: 400px !important; */
  }